h1 {
	text-align: center;
	color: red;
	font-size: 60px;
}
body {
	text-align: center;
}
.core {
	width: 100%;
	border: 1px black solid;
	min-height: 200px;
	padding: 30px 50px;
	font-size: 30px;
	color: black;
}
.core input {
	font-size: 30px;
	width: 100px;
	margin: 0 20px;
	padding: 0;
}
.add {
	color: black;
	font-size: 30px;
	margin-top: 10px;
}
.jishu {
	display: none;
	opacity: 0;
}
.tm {
	margin-top: 10px;
}